<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Chill Out</title>
    <!-- CSS Sheets -->
    <link rel="stylesheet" href="partials/styles.css">
</head>

<body>