<% include partials/header %>

<header>ChillOut</header>
<center>
<div class= "box">
  <a href="/search"><button type="button" name="button">Start Searching &#x1F50D</button></a>
  <a href="customerReservations"><button type="button" name="button">View Reservations</button></a>

  <p style="visibility:hidden;" id="cookieEmail"><%= email %></p>
</div>
</center>

<% include partials/footer %>

<script type="text/javascript">
  $(document).ready(()=>{
    document.cookie = `email = ${$("#cookieEmail").text()}; path=/`;
  })
</script>
