<% include partials/header %>

    <div class="topnav">
        <a href="login" target="_self">log in</a>
        <a href="signup" target="_self">Sign up</a>
    </div>

    <div class="center">
        <h1>ChillOut<h1>
        <p>Find The Best Accomadation Deals<p><br />
        <a href="/search"><button type="button" name="button">Start Searching &#x1F50D</button></a>
    </div>

<% include partials/footer %>
