<% include partials/header %>

    <div class="topnav">
        <a href="login" target="_self">log in</a>
        <a href="signup" target="_self">Sign up</a>
    </div>

    <div class="center">
        <h1>ChillOut<h1>
        <p>Find The Best Accomadation Deals<p>
        <input type="text" name="search" placeholder="&#x1F50D e.g Alexandria">
        <input type="button" name="Search" value="Search">
    </div>

<% include partials/footer %>
