<% include partials/header %>

<header>ChillOut</header>
<center>
<div class= "box">
  <br /><br />
  <a href="/createHotel"><button id="createH">Create Hotel</button></a>
  <a href="/createRoom"><button id="createR">Create Room</button></a>
  <a href="/checkReservations"><button id="checkRes">Check for reservations</button></a><br /><br />


  <form action="/checkInOut" method="post" style="background-color: lightblue; padding: 10px; border-radius: 10px">
    <label for="checkDate">Who will check in/out at</label>
    <input type="date" name="date" required><br />
    <label  for="name">Hotel name</label><br>
    <select name="name" required>
      <% for(let i=0; i<hotels.length; i++){ %>
        <option value="<%=hotels[i].name%>"><%=hotels[i].name%></option>
      <% } %>
    </select><br />
    <button type="submit">Check</button>
  </form>

  <br /><br />

  <form action="/viewHReservations" method="post" style="background-color: #e9e9e9; padding: 10px; border-radius: 10px">
    <h4>Check current Reservations</h4><br />
    <label for="fromDate">From</label>
    <input type="date" name="fromDate">
    <br />
    <label for="toDate">To</label>&nbsp&nbsp&nbsp
    <input type="date" name="date">
    <br />
    <label  for="hotelName">Hotel name</label><br>
    <select name="hotelName" required>
      <% for(let i=0; i<hotels.length; i++){ %>
        <option value="<%=hotels[i].name%>"><%=hotels[i].name%></option>
      <% } %>
    </select><br />
    <button type="submit">Check</button>
  </form>

</div>
</center>

<% include partials/footer %>

<!--
Owner can:
  -Register and Login
  -Create Hotel
  -Create Room after approval
  -Approve reservation or cancel it within 30 seconds
  -View reservations between any times
  -Who check in/out at any time
-->
